<!DOCTYPE html>
{% load staticfiles %}
{% load cropping %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <!-- fonts collection 8 -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.extension.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/simplelightbox.css' %}" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="{% static 'css/ie8-and-down.css' %}" />
    <![endif]-->
    <!--[if IE 9]>
        <link href="{% static 'css/ie9.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    {% include 'meta.html' with title="About" %}
</head>
<body class="fonts-8">

<!-- LOADER -->
<div id="loader-wrapper"></div>

{% include 'overlay.html' %}

<div id="content-block">
    <!-- HEADER -->
    {% include 'header.html' with light=True %}

    <!-- CONTENT -->

    <div class="fixed-background" style="background-image: url({% static 'photos/shooting.jpg' %});">
            <div class="page-height">
                <div class="full-size-banner-entry full-size valign-middle">
                    <div class="valign-text-wrapper text-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="h2 light"><b>ABOUT ME</b></div>
                                <div class="empty-space col-xs-b15"></div>
                                <div class="banner-max-width">
                                    <div class="simple-article large light transparent">Mark Twain once said:<br/>"Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did so. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover."</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scroll-button style-3 light hidden-xs"></div>
            </div>
        </div>

        <div class="container">
            <div class="empty-space col-xs-b55 col-sm-b110"></div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="h2 small"><b>HARD WORKERS TEAM</b></div>
                    <div class="empty-space col-xs-b15"></div>
                    <div class="simple-article large grey">Farhan and Aysel are travelling and working together on their projects. As a team they are trying to capture most unforgettable moments, create better compositions, and find the places that have not been discovered yet. Travelling and photographing is a part of their life which they always follow with passion.  </div>
                </div>
            </div>

            <div class="empty-space col-xs-b30 col-sm-b60"></div>

            <div class="simple-article">
                <img src="{% static 'img/about-team.jpg' %}" alt="" />
            </div>

            <div class="empty-space col-xs-b55 col-sm-b110"></div>

        </div>

        <div class="clearfix">

            {% for photo in footer_photos %}
                <a class="thumbnail-line-entry overlay-thumbnail" href="#">
                    <img src="{% cropped_thumbnail photo 'thumb_about' %}" alt="" />
                    <img src="{% cropped_thumbnail photo 'thumb_about' %}" alt="" />
                </a>
            {% endfor %}
        </div>


    <!-- END CONTENT -->

    <!-- FOOTER -->
    {% include 'footer.html' %}
</div>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/swiper.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>

</body>
</html>
