<!DOCTYPE html>
{% load staticfiles %}
{% load cropping %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <!-- fonts collection 8 -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.extension.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/simplelightbox.css' %}" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="{% static 'css/ie8-and-down.css' %}" />
    <![endif]-->
    <!--[if IE 9]>
        <link href="{% static 'css/ie9.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    {% include 'meta.html' with title="Blog" description="Moments, that have been unforgettable" %}
</head>
<body class="fonts-8">

<!-- LOADER -->
<div id="loader-wrapper"></div>

{% include 'overlay.html' %}

<div id="content-block">
    <!-- HEADER -->
    {% include 'header.html' with light=True %}

    <!-- CONTENT -->

    <div class="fixed-background" style="background-image: url({% static 'photos/farhan.jpg' %});">
        <div class="page-height">
            <div class="full-size-banner-entry full-size valign-middle">
                <div class="valign-text-wrapper text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="h2 light"><b>BLOG</b></div>
                            <div class="empty-space col-xs-b15"></div>
                            <div class="banner-max-width">
                                <div class="simple-article large light transparent">Moments, that have been unforgettable</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-button style-3 light hidden-xs"></div>
        </div>
    </div>

    <div class="empty-space col-xs-b55 col-sm-b110"></div>

    <div class="container">
        {% comment %}
        div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="h2 small"><b>READ WHAT INTERESTS YOU</b></div>
            </div>
        </div>
        {% endcomment %}

        <div class="empty-space col-xs-b30 col-sm-b60"></div>

        <div class="sorting-container blog-1">
            <div class="grid-sizer"></div>

            {% for post in blog_posts %}
                <div class="sorting-item {{ post.get_size_class }}">
                    <div class="blog-landing-entry-1">
                        <a class="mouseover" style="background-image: url({% cropped_thumbnail post post.get_thumb %});" href="{% url 'blog_post' post.id %}">
                            <span class="mouseover-helper-icon"></span>
                        </a>
                        <div class="blog-icons">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="simple-article small light transparent"><span class="fb-comments-count" data-href="{{ request.get_host }}{% url 'blog_post' post.id %}"></span> <i class="fa fa-comments-o"></i></div>
                                </div>
                                <div class="col-xs-6 col-xs-text-right">
                                    <div class="blog-category">{{ post.category }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <div class="title">
                                <a href="{% url 'blog_post' post.id %}" class="h4 small blog-mouseover-2"><b>{{ post.title.upper }}</b></a>
                            </div>
                            <div class="empty-space col-xs-b15"></div>
                            <div class="simple-article grey small blog-light-color">{{ post.author }} / {{ post.date_published|date:'d b Y' }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        {% if blog_posts.has_other_pages %}
            <div class="page-pagination">

                {% if blog_posts.has_previous %}
                    <a href="{% url 'blog' %}?page={{ photos.previous_page_number }}" >previous</a>
                {% endif %}

                {% for page in blog_posts.paginator.page_range %}
                    <a href="{% url 'blog' %}?page={{ page }}" class="{% if blog_posts.number == page  %}active{% endif %}">{{ page }}</a>
                {% endfor %}
                {% if blog_posts.has_next %}
                    <a href="{% url 'blog' %}?page={{ blog_posts.next_page_number }}" >next</a>
                {% endif %}
            </div>
        {% endif %}

        <div class="empty-space col-xs-b30"></div>
    </div>

<div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=125473507970092";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>


    <!-- END CONTENT -->

    <!-- FOOTER -->
    {% include 'footer.html' %}
</div>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/swiper.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>

<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script>
    $(function(){
        $(window).load(function(){

            var $container = $('.sorting-container').isotope({
                itemSelector: '.sorting-item',
                masonry: {
                    columnWidth: '.grid-sizer'
                }
            });

            $('.sorting-menu a').click(function() {
                if($(this).hasClass('active')) return false;
                $(this).parent().parent().find('.active').removeClass('active');
                $(this).addClass('active');
                $(this).closest('.sorting-menu').find('.responsive-filtration-title .text').text($(this).text());
                var filterValue = $(this).attr('data-filter');
                $container.isotope({ filter: filterValue });
            });

        });
    });
</script>

</body>
</html>
