<!DOCTYPE html>
{% load staticfiles %}
{% load cropping %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <!-- fonts collection 8 -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.extension.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/simplelightbox.css' %}" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="{% static 'css/ie8-and-down.css' %}" />
    <![endif]-->
    <!--[if IE 9]>
        <link href="{% static 'css/ie9.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    {% include 'meta.html' with title=post.title description="Moments, that have been unforgettable" image=post.get_thumb.url %}
</head>
<body class="fonts-8">

<!-- LOADER -->
<div id="loader-wrapper"></div>

{% include 'overlay.html' %}

<div id="content-block">
    <!-- HEADER -->
    {% include 'header.html' with light=True %}

    <!-- CONTENT -->

    <div class="fixed-background" style="background-image: url({% cropped_thumbnail post 'hero' %});">
        <div class="banner-height">
            <div class="full-size-banner-entry full-size valign-middle">
                <div class="valign-text-wrapper text-center">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                            <div class="h2 light"><b>{{ post.title.upper }}</b></div>
                            <div class="empty-space col-xs-b15"></div>
                            <div class="banner-max-width">
                                <div class="simple-article small light transparent">{{ post.author }} / {{ post.date_published|date:'d b Y' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="empty-space col-xs-b55 col-sm-b110"></div>

                <!-- START CONTENT -->
                <div class="simple-article grey">
                    {% autoescape off %}
                        {{ post.body }}
                    {% endautoescape %}
                </div>

                <!-- END CONTENT -->

                <div class="empty-space col-xs-b30"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="h6 article-options-title"><b>TAGS</b></div>
                        {% for tag in post.tags.all %}
                            <a class="tag-button" href="#">{{ tag }}</a>
                        {% endfor %}
                        <div class="empty-space col-xs-b20 col-sm-b0"></div>
                    </div>
                    <div class="col-sm-6 col-sm-text-right">
                        <div class="follow style-4">
                            <div class="addthis_inline_share_toolbox"></div>
                        </div>
                    </div>
                </div>
                <div class="empty-space col-xs-b55 col-sm-b110"></div>
                <div class="h3 text-center"><b>RELATED POSTS</b></div>
                <div class="empty-space col-xs-b30 col-sm-b60"></div>
                <div class="column-indent">
                    <div class="row">
                        {% for rel in related %}
                            <div class="col-sm-6 col-md-4 blog-entry-clear">
                                <div class="blog-landing-entry-1 style-1">
                                    <a class="mouseover" style="background-image: url({% cropped_thumbnail rel 'thumb_size_0' %});" href="#">
                                        <span class="mouseover-helper-icon"></span>
                                    </a>
                                    <div class="blog-icons">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="simple-article small light transparent">5 <i class="fa fa-heart-o"></i> 8 <i class="fa fa-comments-o"></i></div>
                                            </div>
                                            <div class="col-xs-6 col-xs-text-right">
                                                <div class="blog-category">design</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="title">
                                            <a href="#" class="h4 small blog-mouseover-2"><b>{{ rel.title.upper }}</b></a>
                                        </div>
                                        <div class="empty-space col-xs-b15"></div>
                                        <div class="simple-article grey small blog-light-color">{{ rel.author }} / {{ post.date_published|date:'d b Y' }}</div>
                                    </div>
                                </div>
                                <div class="empty-space col-xs-b30"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="empty-space col-xs-b25 col-sm-b80"></div>
                <div class="h3 text-center"><b>COMMENTS</b></div>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=125473507970092";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

                <div class="fb-comments" data-href="{{ request.get_host }}{% url 'blog_post' post.id %}" data-numposts="5" data-width="100%"></div>
                <div class="empty-space col-xs-b55 col-sm-b110"></div>
            </div>
        </div>
    </div>

    <!-- END CONTENT -->

    <!-- FOOTER -->
    {% include 'footer.html' %}
</div>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/swiper.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>

<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script>
    $(function(){
        $(window).load(function(){

            var $container = $('.sorting-container').isotope({
                itemSelector: '.sorting-item',
                masonry: {
                    columnWidth: '.grid-sizer'
                }
            });

            $('.sorting-menu a').click(function() {
                if($(this).hasClass('active')) return false;
                $(this).parent().parent().find('.active').removeClass('active');
                $(this).addClass('active');
                $(this).closest('.sorting-menu').find('.responsive-filtration-title .text').text($(this).text());
                var filterValue = $(this).attr('data-filter');
                $container.isotope({ filter: filterValue });
            });

        });
    });
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=togrul94"></script>


</body>
</html>
