<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <!-- fonts collection 8 -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.extension.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="{% static 'css/ie8-and-down.css' %}" />
    <![endif]-->
    <!--[if IE 9]>
        <link href="{% static 'css/ie9.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    {% include 'meta.html' with title="Contact" %}
</head>
<body class="fonts-8">

<!-- LOADER -->
<div id="loader-wrapper"></div>

{% include 'overlay.html' %}

<div id="content-block">
    <!-- HEADER -->
    {% include 'header.html' with light=True %}

    <!-- CONTENT -->

    <div class="contacts-wrapper-1">
        <div class="container">
            <div class="header-empty-space"></div>
            <div class="empty-space col-xs-b25 col-sm-b50"></div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="h2 light small"><b>CONTACT US</b></div>
                    <div class="empty-space col-xs-b15"></div>
                </div>
            </div>

            <div class="empty-space col-xs-b30 col-sm-b60"></div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="contacts-entry">
                        <div class="h4 light small"><b>ADDRESS</b></div>
                        <div class="empty-space col-xs-b15"></div>
                        <div class="simple-article light transparent">
                            69120, Heidelberg, Germany
                        </div>
                    </div>
                    <div class="empty-space col-xs-b25 col-sm-b0"></div>
                </div>
                <div class="col-sm-3">
                    <div class="contacts-entry">
                        <div class="h4 light small"><b>PHONE</b></div>
                        <div class="empty-space col-xs-b15"></div>
                        <div class="simple-article light transparent">
                            <a class="mouseover-simple" href="tel:+4917630167484">+4917630167484</a><br/>
                        </div>
                    </div>
                    <div class="empty-space col-xs-b25 col-sm-b0"></div>
                </div>
                <div class="col-sm-3">
                    <div class="contacts-entry">
                        <div class="h4 light small"><b>EMAIL</b></div>
                        <div class="empty-space col-xs-b15"></div>
                        <div class="simple-article light transparent">
                            <a class="mouseover-simple"  href="mailto:farhan.huseynli@gmail.com">farhan.huseynli@gmail.com</a><br/>
                        </div>
                    </div>
                    <div class="empty-space col-xs-b25 col-sm-b0"></div>
                </div>
                <div class="col-sm-3">
                    <div class="contacts-entry">
                        <div class="h4 light small"><b>FOLLOW US</b></div>
                        <div class="empty-space col-xs-b15"></div>
                        <div class="follow">
                            {% include 'links.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="empty-space col-xs-b55 col-sm-b110"></div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="h4 light"><b>HAVE A QUESTION?</b></div>
                </div>
            </div>

            <div class="empty-space col-xs-b90 col-sm-b120"></div>
        </div>
    </div>

    <div class="container">
        <div class="contacts-form-1-align">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="empty-space col-xs-b60"></div>

                    {% if mail_sent == 'ok' %}
                        <div class="alert alert-success" role="alert">Thanks! Your message has ben sent to me. I will try to read it ASAP</div>
                    {% endif %}

                    {% if mail_sent == 'error' %}
                        <div class="alert alert-danger" role="alert">Sorry, there was a problem sending your message. Please try again</div>
                    {% endif %}

                    <form class="contact-form" action="{% url 'contact' %}" method="post">
                        {% csrf_token %}
                        <div class="row col-xs-b30">
                            <div class="col-sm-6 col-xs-b30 col-sm-b0">
                                <div class="input-wrapper">
                                    <input name="name" class="input" type="text">
                                    <label>Name</label>
                                    <span></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-wrapper">
                                    <input name="email" class="input" type="text">
                                    <label>Email</label>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row col-xs-b30">
                            <div class="col-sm-12">
                                <div class="input-wrapper">
                                    <input name="subject" class="input" type="text">
                                    <label>Subject</label>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-wrapper">
                                    <textarea name="message" class="input"></textarea>
                                    <label>Message</label>
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <div class="empty-space col-xs-b40"></div>

                        <div class="text-center">
                            <div class="button type-3">submit message<input type="submit"/></div>
                        </div>
                    </form>

                    <div class="empty-space col-xs-b60"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="map-wrapper">
        <div id="map-canvas" class="full-width" data-lat="49.4183806" data-lng="8.6742849" data-zoom="9"></div>
    </div>
    <div class="addresses-block hidden">
        <a class="marker" data-lat="49.4183806" data-lng="8.6742849" data-string="I live here :)"></a>
    </div>

    <!-- END CONTENT -->

    <div class="text-popup overlay">
        <div class="animation-wrapper full-size"></div>
        <div class="content-wrapper full-size">
            <div class="cell-view page-height">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <div class="h2 small light"><b class="text-popup-title"></b></div>
                            <div class="empty-space col-xs-b15"></div>
                            <div class="simple-article light transparent text-popup-message"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="button-close"></a>
    </div>

    <!-- FOOTER -->
    {% include 'footer.html' %}
</div>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/swiper.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>

<!-- MAP -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="{% static 'js/map.js' %}"></script>

<!-- CONTACT -->
<script src="{% static 'js/contact.form.js' %}"></script>

</body>
</html>
