<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>New message from a visitor</title>
</head>
<body>
<h2>From: {{ name }} (<a href="mailto:{{ email }}">{{ email }}</a>)</h2>
<h2>Subject: {{ subject }}</h2>
<p>{{ message }}</p>
</body>
</html>
