<footer class="{% if dark %} type-2 transparent {% endif %}">
    <div class="wide-container">
        <div class="row">
            <div class="col-md-6 col-xs-text-center col-md-text-left col-sm-b10 col-md-b0">
                <div class="copyright">
                    <div class="simple-article small light transparent">
                        &copy; 2016 All rights reserved.
                        <div class="developed-by">Developed by <a href="https://jafar.li" target="blank">Toghrul Jafarli.</a></div>
                    </div>
                </div>
                <div class="empty-space col-xs-b20 col-md-b0"></div>
            </div>
            <div class="col-md-6 col-xs-text-center col-md-text-right">
                <div class="follow {% if dark %} style-3 {% endif %}">
                    <span class="title">Follow me:</span>
                    {% include 'links.html' %}
                </div>
            </div>
        </div>
    </div>
</footer>
