{% load static %}
<header class="type-4 fixed {% if light %} light {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <a class="logo">
                    {% if light %}
                        <img src="{% static 'img/logo1.png' %}" alt="" />
                    {% else %}
                        <img src="{% static 'img/logo.png' %}" alt="" />
                    {% endif %}
                </a>
            </div>
            <div class="col-xs-6 col-sm-10 text-right">

                <div class="navigation-wrapper">

                    <a class="logo responsive">
                        {% if light %}
                            <img src="{% static 'img/logo1.png' %}" alt="" />
                        {% else %}
                            <img src="{% static 'img/logo.png' %}" alt="" />
                        {% endif %}
                    </a>

                    <div class="navigation-overflow">
                        <nav class="text-left clearfix">
                            <ul>
                                <li>
                                    <a href="{% url 'home' %}">Home</a>
                                </li>
                                <li>
                                    <a href="#">Portfolio</a>
                                    <span class="toggle-icon"></span>
                                    <ul>
                                        <li><a href="{% url 'portfolio' %}">Photos</a></li>
                                        <li><a href="{% url 'projects' %}">Projects</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'store' %}">Store</a>
                                </li>
                                <li>
                                    <a href="{% url 'blog' %}">Blog</a>
                                </li>
                                {% comment %}<li>
                                    <a href="{% url 'services' %}">Services</a>
                                </li>{% endcomment %}
                                <li>
                                    <a href="{% url 'contact' %}">Contact</a>
                                </li>
                                <li>
                                    <a href="{% url 'about' %}">About me</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="follow style-1">
                        <span class="title">Follow me:</span>
                        <a class="entry" href="#"><i class="fa fa-instagram"></i></a>
                        <a class="entry" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="entry" href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a class="entry" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="entry" href="#"><i class="fa fa-google-plus"></i></a>
                    </div>

                </div>

                <div class="hamburger-icon open-navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="hamburger-icon open-overlay" data-rel="1">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="close-layer toggle-visibility"><div class="button-close"></div></div>
</header>