{% load staticfiles %}
{% load cropping %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <!-- fonts collection 5 -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic' rel='stylesheet'
          type='text/css'>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/bootstrap.extension.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/boxesFx.css' %}" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="{% static 'css/ie8-and-down.css' %}" />
    <![endif]-->
    <!--[if IE 9]>
        <link href="{% static 'css/ie9.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>

    <link rel="shortcut icon" href="img/favicon.ico"/>

    {% include 'meta.html' with title="Homepage" %}
</head>
<body class="fonts-5">

<!-- LOADER -->
<div id="loader-wrapper"></div>

{% include 'overlay.html' %}

<div id="content-block">
    <!-- HEADER -->
    {% include 'header.html' with light=True %}

    <div class="page-height">

        <div class="homepage-9-container">

            <div class="homepage-9-slider">
                <div id="boxgallery" class="boxgallery" data-effect="effect-1">
                    {% for slide in slides %}
                    <div class="panel">
                        <img src="{% cropped_thumbnail slide "cropping" %}" alt=""/>
                    </div>
                    {% endfor %}


                    <div class="boxgallery-text">
                        {% for slide in slides %}
                        <div class="boxgallery-text-panel">
                            <div class="text">
                                <div class="empty-space col-xs-b35"></div>
                                <div class="text-animation delay-1">
                                    <div class="slide-title h2 small light">{{ slide.title.upper }}</div>
                                </div>
                                <div class="empty-space col-xs-b15"></div>
                                <div class="text-animation delay-2">
                                    <div class="slide-description simple-article large light transparent">{{ slide.desc }}</div>
                                </div>
                                <div class="empty-space col-xs-b35"></div>
                                <div class="text-animation delay-3">
                                    <a href="{{ slide.button_link }}" class="button type-3 light">{{ slide.button_text }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>


        </div>
    </div>
    <!-- FOOTER -->
    {% include 'footer.html' with dark=True %}
</div>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/swiper.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>

<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script src="{% static 'js/boxesFx.js' %}"></script>

<script>
    new BoxesFx(document.getElementById('boxgallery'));
</script>

</body>
</html>
