<a class="entry" href="https://www.instagram.com/husseynli" target="_blank"><i class="fa fa-instagram"></i></a>
<a class="entry" href="https://www.facebook.com/husseynli" target="_blank"><i class="fa fa-facebook"></i></a>
<a class="entry" href="https://www.500px.com/farhanhuseynli" target="_blank"><i class="fa fa-500px"></i></a>