{% load static %}
<meta property="og:url"          content="{{ request.build_absolute_uri }}" />
<meta property="og:type"         content="article" />
<meta property="og:title"        content="{{ title | default:"My Portfolio" }} — Farhan Huseynli" />
<meta property="og:description"  content="{{ description | default:"Farhan Huseynli is Baku-born photographer based in Heidelberg. After obtaining bachelor degree in Economics in Baku he moved to Jena and continued his education of master degree in Economics." }}" />
<meta property="og:image"        content="{{ request.scheme }}://{{ request.get_host }}{% static "img/member-farhan.jpg" %}" />
<title>{{ title | default:"My Portfolio" }} — Farhan Huseynli</title>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137369338-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137369338-1');
</script>