<div class="overlay" data-rel="1">
    <div class="animation-wrapper full-size"></div>
    <div class="content-wrapper full-size">
        <div class="cell-view page-height">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-xs-b30 col-sm-0">

                        <nav class="text-left clearfix">
                            <ul>
                                <li>
                                    <a href="{% url 'home' %}">Home</a>
                                </li>
                                <li>
                                    <a href="#">Portfolio</a>
                                    <span class="toggle-icon"></span>
                                    <ul>
                                        <li><a href="{% url 'portfolio' %}">Photos</a></li>
                                        <li><a href="{% url 'projects' %}">Projects</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'store' %}">Store</a>
                                </li>
                                <li>
                                    <a href="{% url 'blog' %}">Blog</a>
                                </li>
                                {% comment %}<li>
                                    <a href="{% url 'services' %}">Services</a>
                                </li>{% endcomment %}
                                <li>
                                    <a href="{% url 'contact' %}">Contact</a>
                                </li>
                                <li>
                                    <a href="{% url 'about' %}">About me</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                    <div class="col-sm-12 col-md-8 col-md-offset-2 col-xs-b30 col-sm-0">
                        <div class="simple-article light transparent col-xs-b30 col-sm-b50">
                            <div class="h4 small">ABOUT ME</div>
                            <div class="empty-space col-xs-b10"></div>
                            <p>I am a photographer who is working in Germany in financial sphere and loves to travel and take photos of different places... </p>
                        </div>
                        <div class="simple-article light transparent col-xs-b30 col-sm-b50">
                            <div class="h4 small">CONTACT INFO</div>
                            <div class="empty-space col-xs-b10"></div>
                            <p>Email: <a class="mouseover-simple" href="mailto:farhan.huseynli@gmail.com" style="color: #fff;"><b>farhan.huseynli@gmail.com</b></a></p>
                            <p>Phone: <a class="mouseover-simple" href="tel:+4917630167484" style="color: #fff;"><b>+4917630167484</b></a></p>
                        </div>
                        <div class="h4 small light">FOLLOW ME</div>
                        <div class="empty-space col-xs-b15"></div>
                        <div class="follow">
                            {% include 'links.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="button-close"></a>
    </div>
</div>