<!DOCTYPE html>
{% load staticfiles %}
{% load cropping %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <!-- fonts collection 8 -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.extension.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/simplelightbox.css' %}" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="{% static 'css/ie8-and-down.css' %}" />
    <![endif]-->
    <!--[if IE 9]>
        <link href="{% static 'css/ie9.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    {% include 'meta.html' with title="Portfolio" description="The Products of Passion" %}
</head>
<body class="fonts-8">

<!-- LOADER -->
<div id="loader-wrapper"></div>

{% include 'overlay.html' %}

<div id="content-block">
    <!-- HEADER -->
    {% include 'header.html' %}

    <div class="wide-container">
        <div class="header-empty-space"></div>
        <div class="empty-space col-xs-b55 col-sm-b110"></div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="h2"><b>PORTFOLIO</b></div>
                <div class="empty-space col-xs-b15"></div>
                <div class="simple-article large grey">The Products of Passion</div>
            </div>
        </div>

        <div class="empty-space col-xs-b30 col-sm-b60"></div>

        <div class="sorting-menu style-1 text-center">
            <div class="responsive-filtration-title visible-xs"><i class="fa"></i><b><span class="text">All</span></b><i class="fa fa-angle-down"></i></div>
            <ul class="responsive-filtration-toggle">
                <li><a class="{% if theme_id is None  %}mouseover-simple active{% endif %}" href="?page=1">All</a></li>
                {% for theme in themes %}
                    <li><a class="{% if theme_id|add:0 == theme.id|add:0 %}mouseover-simple active{% endif %}" href="?theme={{ theme.id }}">{{ theme.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="empty-space col-xs-b30 col-sm-b60"></div>

        <div class="sorting-container portfolio-6">
            <div class="grid-sizer"></div>

            {% for photo in photos %}
                <div class="sorting-item filter-{{ photo.theme_id }}">
                    <div class="portfolio-landing-entry-1 style-1">
                        <a class="mouseover poster-3d lightbox" data-offset="5" href="{{ photo.image.url }}" style="background-image: url({% cropped_thumbnail photo "thumb" %});">
                            <span class="layer-1 full-size" data-offset="10">
                                <span class="mouseover-helper-frame"></span>
                            </span>
                            <span class="layer-1 full-size" data-offset="20">
                                <span class="mouseover-helper-icon"></span>
                            </span>
                        </a>
                        <div class="text-content">
                            <div class="row">
                                <div class="col-md-6 col-xs-text-center col-md-text-left">
                                    <div class="h5"><b><a href="#" class="mouseover-simple size-1">{{ photo.name }}</a></b></div>
                                </div>
                                <div class="col-md-6 col-xs-text-center col-md-text-right">
                                    <div class="simple-article grey small">{{ photo.theme.name }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        {% if photos.has_other_pages %}
            <div class="page-pagination">
                {% if photos.has_previous %}
                    <a href="{% url 'portfolio' %}?page={{ photos.previous_page_number }}{% if theme_id %}&theme={{ theme_id }}{% endif %}" >previous</a>
                {% endif %}

                {% for page in photos.paginator.page_range %}
                    <a href="{% url 'portfolio' %}?page={{ page }}{% if theme_id %}&theme={{ theme_id }}{% endif %}" class="{% if photos.number == page  %}active{% endif %}">{{ page }}</a>
                {% endfor %}

                {% if photos.has_next %}
                    <a href="{% url 'portfolio' %}?page={{ photos.next_page_number }}{% if theme_id %}&theme={{ theme_id }}{% endif %}" >next</a>
                {% endif %}
            </div>
        {% endif %}

    </div>

    <div class="empty-space col-xs-b15"></div>

    <!-- FOOTER -->
    {% include 'footer.html' %}
</div>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/swiper.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>

<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script>
    $(function(){
        $(window).load(function(){

            var $container = $('.sorting-container').isotope({
                itemSelector: '.sorting-item',
                masonry: {
                    columnWidth: '.grid-sizer'
                }
            });

            $('.sorting-menu a').click(function() {
                if($(this).hasClass('active')) return false;
                $(this).parent().parent().find('.active').removeClass('active');
                $(this).addClass('active');
                $(this).closest('.sorting-menu').find('.responsive-filtration-title .text').text($(this).text());
                var filterValue = $(this).attr('data-filter');
                $container.isotope({ filter: filterValue });
            });

        });
    });
</script>

<script src="{% static 'js/parallax.jquery.js' %}"></script>
<script>
    $(function(){
        $('.poster-3d').parallax({
            shadow: true,
            shine: true
        });
    });
</script>

<script src="{% static 'js/simple-lightbox.min.js' %}"></script>
<script>
    $(function(){
        var lightbox = $('.lightbox').simpleLightbox({
            disableScroll: false
        });
    });
</script>

</body>
</html>
