<!DOCTYPE html>
{% load staticfiles %}
{% load cropping %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <!-- fonts collection 8 -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.extension.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/simplelightbox.css' %}" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="{% static 'css/ie8-and-down.css' %}" />
    <![endif]-->
    <!--[if IE 9]>
        <link href="{% static 'css/ie9.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    {% include 'meta.html' with title="My Projects" description="The Products of Passion" %}
</head>
<body class="fonts-8">

<!-- LOADER -->
<div id="loader-wrapper"></div>

{% include 'overlay.html' %}

<div id="content-block">
    <!-- HEADER -->
    {% include 'header.html' %}

    <!-- CONTENT -->

    <div class="container">
        <div class="header-empty-space"></div>
        <div class="empty-space col-xs-b55 col-sm-b110"></div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="h2"><b>MY PROJECTS</b></div>
                <div class="empty-space col-xs-b15"></div>
                <div class="simple-article large grey">The Products of Passion</div>
            </div>
        </div>

        <div class="empty-space col-xs-b30 col-sm-b45"></div>

        <div class="sorting-container portfolio-7">
            <div class="grid-sizer"></div>

            {% for project in projects %}
                <div class="sorting-item">
                    <div class="homepage-portfolio-preview-1">
                        <a href="{% url 'project' project.id %}">
                            <span class="background full-size" style="background-image: url({% cropped_thumbnail project "thumb" %});"></span>
                            <span class="label h4 light"><b>{{ project.name.upper }}</b></span>
                            <span class="text">
                                <span class="h4 light"><b>{{ project.name.upper }}</b></span>
                                <span class="empty-space col-xs-b15"></span>
                                <span class="simple-article large light transparent">{{ project.desc }}</span>
                            </span>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>

        {% if projects.has_other_pages %}
            <div class="page-pagination">

                {% if projects.has_previous %}
                    <a href="{% url 'projects' %}?page={{ projects.previous_page_number }}" >previous</a>
                {% endif %}

                {% for page in projects.paginator.page_range %}
                    <a href="{% url 'projects' %}?page={{ page }}" class="{% if projects.number == page  %}active{% endif %}">{{ page }}</a>
                {% endfor %}
                {% if projects.has_next %}
                    <a href="{% url 'projects' %}?page={{ projects.next_page_number }}" >next</a>
                {% endif %}
            </div>
        {% endif %}

        <div class="empty-space col-sm-b95"></div>
    </div>

    <!-- END CONTENT -->

    <!-- FOOTER -->
    {% include 'footer.html' %}
</div>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/swiper.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>

<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script>
    $(function(){
        $(window).load(function(){

            var $container = $('.sorting-container').isotope({
                itemSelector: '.sorting-item',
                masonry: {
                    columnWidth: '.grid-sizer'
                }
            });

            $('.sorting-menu a').click(function() {
                if($(this).hasClass('active')) return false;
                $(this).parent().parent().find('.active').removeClass('active');
                $(this).addClass('active');
                $(this).closest('.sorting-menu').find('.responsive-filtration-title .text').text($(this).text());
                var filterValue = $(this).attr('data-filter');
                $container.isotope({ filter: filterValue });
            });

        });
    });
</script>

<script src="{% static 'js/simple-lightbox.min.js' %}"></script>
<script>
    $(function(){
        var lightbox = $('.lightbox').simpleLightbox({
            disableScroll: false
        });
    });
</script>

</body>
</html>
