<!DOCTYPE html>
{% load staticfiles %}
{% load cropping %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <!-- fonts collection 8 -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.extension.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/simplelightbox.css' %}" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="{% static 'css/ie8-and-down.css' %}" />
    <![endif]-->
    <!--[if IE 9]>
        <link href="{% static 'css/ie9.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    {% include 'meta.html' with title=project.name.upper description=project.desc %}
</head>
<body class="fonts-8">

<!-- LOADER -->
<div id="loader-wrapper"></div>

{% include 'overlay.html' %}

<div id="content-block">
    <!-- HEADER -->
    {% include 'header.html' with light=True %}

    <!-- CONTENT -->

    <div class="fixed-background" style="background-image: url({{ project.image.url }});">
        <div class="page-height" style="height: 989px; min-height: 989px;">
            <div class="full-size-banner-entry full-size valign-middle">
                <div class="valign-text-wrapper text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="h2 light"><b>{{ project.name.upper }}</b></div>
                            <div class="empty-space col-xs-b15"></div>
                            <div class="banner-max-width">
                                <div class="simple-article large light transparent">{{ project.desc }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scroll-button style-3 light hidden-xs"></div>
            </div>
            {% if older %}
                <a href="{% url 'project' older.id %}" class="portfolio-arrow arrow-left light style-1 hidden-xs"><span style="background-image: url({% cropped_thumbnail older 'thumb_arrow' %});"></span></a>
            {% endif %}
            {% if newer %}
                <a href="{% url 'project' newer.id %}" class="portfolio-arrow arrow-right light style-1 hidden-xs"><span style="background-image: url({% cropped_thumbnail newer 'thumb_arrow' %});"></span></a>
            {% endif %}
        </div>
    </div>

    <div class="container" id="scroll">

        <div class="empty-space col-xs-b55 col-sm-b110"></div>

        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="h5"><b>CATEGORY</b></div>
                <div class="empty-space col-xs-b5"></div>
                <div class="simple-article grey">{{ project.category }}</div>
                <div class="empty-space col-xs-b20 col-sm-b0"></div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="h5"><b>PLACE</b></div>
                <div class="empty-space col-xs-b5"></div>
                <div class="simple-article grey">{{ project.place }}</div>
                <div class="empty-space col-xs-b20 col-sm-b0"></div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="h5"><b>DATE</b></div>
                <div class="empty-space col-xs-b5"></div>
                <div class="simple-article grey">{{ project.date_shooted|date:'d b Y' }}</div>
                <div class="empty-space col-xs-b20 col-sm-b0"></div>
            </div>
        </div>

        <div class="empty-space col-xs-b35 col-sm-b110"></div>


        {% for photo in project.projectphoto_set.all %}
            <div class="portfolio-detail-entry">
                <img src="{{ photo.image.url }}" alt="" />
            </div>
            <div class="empty-space col-xs-b35"></div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="h5"><b>{{ photo.name }}</b></div>
                    <div class="empty-space col-xs-b5"></div>
                    <div class="simple-article grey">{{ photo.desc }}</div>
                </div>
            </div>
            <div class="empty-space col-xs-b60"></div>
        {% endfor %}

        {% if project.tags.count > 0 %}
            <div class="row">
                <div class="h6 article-options-title"><b>TAGS</b></div>
                {% for tag in project.tags.all %}
                    <a class="tag-button" href="#">{{ tag }}</a>
                {% endfor %}
                <div class="empty-space col-xs-b20 col-sm-b0"></div>
            </div>
        {% endif %}

    </div>

    <div class="empty-space col-sm-b50"></div>

    {% if newer and older %}
        <div class="row nopadding">
            <div class="col-xs-4">

                {% if older %}
                    <a class="portfolio-detail-related-entry" href="{% url 'project' older.id %}">
                        <span class="background full-size" style="background-image: url({% cropped_thumbnail older 'thumb_related' %});"></span>
                        <span class="text hidden-xs">
                        <span class="wide-container align-left">
                            <span class="tag"><span class="inline-indent"></span>{{ older.category }}</span>
                            <span class="h4 light"><b>{{ older.name.upper }}</b></span>
                        </span>
                    </span>
                    </a>
                {% endif %}

            </div>
            <div class="col-xs-4">
                <div class="portfolio-detail-related-entry">
                    <a class="square-hamburger-icon" href="{% url 'projects' %}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                {% if newer %}
                    <a class="portfolio-detail-related-entry" href="{% url 'project' newer.id %}">
                        <span class="background full-size" style="background-image: url({% cropped_thumbnail newer 'thumb_related' %});"></span>
                        <span class="text hidden-xs">
                        <span class="wide-container align-right">
                            <span class="tag"><span class="inline-indent"></span>{{ newer.category }}</span>
                            <span class="h4 light"><b>{{ newer.name.upper }}</b></span>
                        </span>
                    </span>
                    </a>
                {% endif %}

            </div>
        </div>
    {% endif %}

    <!-- END CONTENT -->

    <!-- FOOTER -->
    {% include 'footer.html' %}
</div>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/swiper.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>

</body>
</html>
