<!DOCTYPE html>
{% load staticfiles %}
{% load semistatic %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <!-- fonts collection 8 -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.extension.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/simplelightbox.css' %}" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="{% static 'css/ie8-and-down.css' %}" />
    <![endif]-->
    <!--[if IE 9]>
        <link href="{% static 'css/ie9.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    {% include 'meta.html' with title="Services" %}
</head>
<body class="fonts-8">

<!-- LOADER -->
<div id="loader-wrapper"></div>

{% include 'overlay.html' %}

<div id="content-block">
    <!-- HEADER -->
    {% include 'header.html' with light=True %}

    <!-- CONTENT -->

    <div class="fixed-background" style="background-image: url({% static 'img/background-64.jpg' %});">
        <div class="page-height">
            <div class="full-size-banner-entry full-size valign-middle">
                <div class="valign-text-wrapper text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="h2 light"><b>OUR SERVICES</b></div>
                            <div class="empty-space col-xs-b15"></div>
                            <div class="banner-max-width">
                                <div class="simple-article large light transparent">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-button style-3 light hidden-xs"></div>
        </div>
    </div>

    <div class="container">
        <div class="empty-space col-xs-b55 col-sm-b110"></div>

        <div class="row col-xs-text-center col-sm-text-left">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="h3"><b>WE CAN PROPOSE OUR SPESIAL SEVICES</b></div>
                <div class="empty-space col-xs-b10 col-sm-b0"></div>
            </div>
            <div class="col-sm-5">
                <div class="simple-article grey">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum id metus ac tempus. Praesent ut mauris eget velit volutpat posuere nec ut elit. Etiam efficitur iaculis nulla a commodo. Sed eget mi sed tortor semper volutpat. In vehicula tristique rutrum. Etiam sit amet justo et enim vulputate sagittis</p>
                </div>
            </div>
        </div>

        <div class="empty-space col-xs-b55 col-sm-b110"></div>

        <div class="swiper-container simple-slider style-1" data-parallax="1">
            <div class="swiper-button-prev swiper-button hidden-xs style-2"></div>
            <div class="swiper-button-next swiper-button hidden-xs style-2"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url({% static 'img/background-65.jpg' %});">
                    <div class="frame-article-entry">
                        <div class="frame-wrapper">
                            <div class="frame full-size" data-swiper-parallax="-800"></div>
                            <div class="cell-view">
                                <div class="simple-article large light text-center" data-swiper-parallax="-400">
                                    <h1><b>349</b></h1>
                                    <div class="empty-space col-xs-b10"></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url({% static 'img/background-65.jpg' %});">
                    <div class="frame-article-entry">
                        <div class="frame-wrapper">
                            <div class="frame full-size" data-swiper-parallax="-800"></div>
                            <div class="cell-view">
                                <div class="simple-article large light text-center" data-swiper-parallax="-400">
                                    <h1><b>349</b></h1>
                                    <div class="empty-space col-xs-b10"></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url({% static 'img/background-65.jpg' %});">
                    <div class="frame-article-entry">
                        <div class="frame-wrapper">
                            <div class="frame full-size" data-swiper-parallax="-800"></div>
                            <div class="cell-view">
                                <div class="simple-article large light text-center" data-swiper-parallax="-400">
                                    <h1><b>349</b></h1>
                                    <div class="empty-space col-xs-b10"></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url({% static 'img/background-65.jpg' %});">
                    <div class="frame-article-entry">
                        <div class="frame-wrapper">
                            <div class="frame full-size" data-swiper-parallax="-800"></div>
                            <div class="cell-view">
                                <div class="simple-article large light text-center" data-swiper-parallax="-400">
                                    <h1><b>349</b></h1>
                                    <div class="empty-space col-xs-b10"></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-white"></div>
        </div>

        <div class="empty-space col-xs-b55 col-sm-b110"></div>

        <div class="row">
                <div class="col-md-12">
                    <div class="left-right-entry style-1 new-view clearfix">
                        <div class="right">
                            <div class="entry full-size" style="background-image: url({% static 'img/thumbnail-57.jpg' %});"></div>
                        </div>
                        <div class="left">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <div class="cell-view">
                                        <div class="simple-article border-left grey">
                                            <h3><b>CORPORATE IDENTITY</b></h3>
                                            <div class="empty-space col-xs-b15"></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum id metus ac tempus. Praesent ut mauris eget velit volutpat posuere nec ut elit. Etiam efficitur iaculis nulla a commodo. Sed eget mi sed tortor semper volutpat. In vehicula tristique rutrum. Etiam sit amet justo et enim vulputate sagittis</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="empty-space col-xs-b30 col-sm-b60"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="left-right-entry style-1 clearfix">
                        <div class="right">
                            <div class="entry full-size" style="background-image: url({% static 'img/thumbnail-57.jpg' %});"></div>
                        </div>
                        <div class="left">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="cell-view">
                                        <div class="simple-article border-left grey">
                                            <h3><b>GRAPHIC DESIGN</b></h3>
                                            <div class="empty-space col-xs-b15"></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum id metus ac tempus. Praesent ut mauris eget velit volutpat posuere nec ut elit. Etiam efficitur iaculis nulla a commodo. Sed eget mi sed tortor semper volutpat. In vehicula tristique rutrum. Etiam sit amet justo et enim vulputate sagittis</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="empty-space col-xs-b30 col-sm-b60"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="left-right-entry style-1 new-view clearfix">
                        <div class="right">
                            <div class="entry full-size" style="background-image: url({% static 'img/thumbnail-57.jpg' %});"></div>
                        </div>
                        <div class="left">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <div class="cell-view">
                                        <div class="simple-article border-left grey">
                                            <h3><b>WEB DESIGN AND DEVELOPMENT</b></h3>
                                            <div class="empty-space col-xs-b15"></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum id metus ac tempus. Praesent ut mauris eget velit volutpat posuere nec ut elit. Etiam efficitur iaculis nulla a commodo. Sed eget mi sed tortor semper volutpat. In vehicula tristique rutrum. Etiam sit amet justo et enim vulputate sagittis</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="empty-space col-xs-b30 col-sm-b60"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="left-right-entry style-1 clearfix">
                        <div class="left">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="cell-view">
                                        <div class="simple-article border-left grey">
                                            <h3><b>ANIMATION AND VIDEO</b></h3>
                                            <div class="empty-space col-xs-b15"></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum id metus ac tempus. Praesent ut mauris eget velit volutpat posuere nec ut elit. Etiam efficitur iaculis nulla a commodo. Sed eget mi sed tortor semper volutpat. In vehicula tristique rutrum. Etiam sit amet justo et enim vulputate sagittis</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="entry full-size" style="background-image: url({% static 'img/thumbnail-57.jpg' %});"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="empty-space col-xs-b55 col-sm-b110"></div>


    </div>

    <!-- END CONTENT -->

    <!-- FOOTER -->
    {% include 'footer.html' %}
</div>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/swiper.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>

</body>
</html>
