<!DOCTYPE html>
{% load staticfiles %}
{% load cropping %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <!-- fonts collection 8 -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.extension.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/simplelightbox.css' %}" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="{% static 'css/ie8-and-down.css' %}" />
    <![endif]-->
    <!--[if IE 9]>
        <link href="{% static 'css/ie9.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    {% include 'meta.html' with title="Photo Store" description="Choose, Order, and Receive" %}
</head>
<body class="fonts-8">

<!-- LOADER -->
<div id="loader-wrapper"></div>

{% include 'overlay.html' %}

<div id="content-block">
    <!-- HEADER -->
    {% include 'header.html' %}

    <div class="container">
        <div class="header-empty-space"></div>
        <div class="empty-space col-xs-b55 col-sm-b110"></div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="h2"><b>FINE ART PRINTS AND POSTERS</b></div>
                <div class="empty-space col-xs-b15"></div>
                <div class="simple-article large dark">
                    <p><b>Fine Art Prints in limited editions</b> are available for each image and come with an authenticity certificate. Prints are on professional photo paper.</p>
                    <div class="empty-space col-xs-b30 col-sm-b60"></div>
                    <p>Prices indicate poster and canvas frames and do not include shipping</p>
                    <div class="empty-space col-xs-b30 col-sm-b60"></div>

                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <td scope="col">Size</td>
                                <td scope="col">Poster price</td>
                                <td scope="col">Canvas price</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>30x20 cm</td>
                                <td>19 &euro;</td>
                                <td>39 &euro;</td>
                            </tr>
                            <tr>
                                <td>45x30 cm</td>
                                <td>29 &euro;</td>
                                <td>49 &euro;</td>
                            </tr>
                            <tr>
                                <td>60x40 cm</td>
                                <td>39 &euro; </td>
                                <td>59 &euro;</td>
                            </tr>
                            <tr>
                                <td>75x50 cm</td>
                                <td>49 &euro; </td>
                                <td>99 &euro;</td>
                            </tr>
                            <tr>
                                <td>90x60 cm</td>
                                <td>59 &euro; </td>
                                <td>119 &euro;</td>
                            </tr>
                            <tr>
                                <td>105x70 cm</td>
                                <td>69 &euro; </td>
                                <td>179 &euro;</td>
                            </tr>
                            <tr>
                                <td>150x100 cm</td>
                                <td>109 &euro; </td>
                                <td>179 &euro;</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="empty-space col-xs-b30 col-sm-b60"></div>

                    <p>The print will be ready in 5/7 business days from the date of payment (will send as Paypal invoice), depending on how busy is my printing studio. To quote the shipment and to order a print please provide your exact address and how urgent is the delivery to the following email: </p>

                    <div class="empty-space col-xs-b30 col-sm-b60"></div>

                    <p><a href="mailto:farhan.huseynli@gmail.com" class="button type-3">farhan.huseynli@gmail.com</a></p>

                    <div class="empty-space col-xs-b30 col-sm-b60"></div>

                    <p class="text-info">Please refer to my website for the choice of the image.</p>

                    <div class="empty-space col-xs-b30 col-sm-b60"></div>

                </div>
            </div>
        </div>

        <div class="empty-space col-xs-b40 col-sm-b25 col-md-b15"></div>
    </div>

    <div class="empty-space col-sm-b25"></div>

    <!-- FOOTER -->
    {% include 'footer.html' %}
</div>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/swiper.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>

</body>
</html>
